language: node_js
nvm: 
  - 0.33.11
node:
  - 10.8.0
deploy:
  provider: heroku
  api_key:
    secure: M5r+weWGsi8OiLg4MoRKvHzXsYbiMmFDCJXhF3pIbkaemnQQZVkDqaSmfAR8xPbRJtY4TrUuhJfpg9fYAlTAMbZbrly5B7nUDy1bgKfhQJIjT37tSve/YxTmF4RaAjTsHzQJWoGXDIjn1/Dj6nLKwN6aUpihhExnBo/WnY0HA8U91L1VUiJCd6qrE4Zcbqg1kfIRgLjZkrPW4/OJ8sGjYPWGefp+EiGvD06MHIqXE7y9gvhYa9IREJNun77wKwNjChwJEXovnMi0IDJpx7jmDVD9e25fbZXjBX91dMBxJbk1EGC7+LZTHzNq3/IB9tvtOMuADfVBWHMD9uxw0twoFJ+MoI3dDDmWZI3DSayNT6IwT22rOiZOIvmZVPlj5nntdDqLkVJkmAR8GLL3ThmulHWiPa2cQ5xWpLAZ8dLyT8PCMV9zL6paSwimNon/CF6QFvuG9qTtWAhSii7eIuic2gPZ0Kun8Yy34tUEsuvOQb9j3g3K6gF0bXSKISZ+grd5pVFR9DRUtU7kFCcSbBP3TPIzKCnqcHPh4H8kd0osldhc28RenswbH4C3MU0VtLFV2zOW1ZIhSRy2meNyUC+4dCxbwKDwsjazPEjnxnhiEEWVsuAdn2hjcjhi/mPU7vOCWIg0OE4v18x6ARxyBrcUrtF0v8+EZGzBzFVXFN/FDRs=
  app: connecc-api
  run: npm start